<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string/>
	<key>LSApplicationCategoryType</key>
	<string/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>example</string>
			</array>
			<key>CFBundleURLName</key>
			<string/>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>example</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kftc-bankpay</string> <!-- 계좌이체 -->
		<string>ispmobile</string> <!-- ISP모바일 -->
		<string>itms-apps</string> <!-- 앱스토어 -->
		<string>hdcardappcardansimclick</string> <!-- 현대카드-앱카드 -->
		<string>smhyundaiansimclick</string> <!-- 현대카드-공인인증서 -->
		<string>shinhan-sr-ansimclick</string> <!-- 신한카드-앱카드 -->
		<string>smshinhanansimclick</string> <!-- 신한카드-공인인증서 -->
		<string>kb-acp</string> <!-- 국민카드-앱카드 -->
		<string>mpocket.online.ansimclick</string> <!-- 삼성카드-앱카드 -->
		<string>ansimclickscard</string> <!-- 삼성카드-온라인결제 -->
		<string>ansimclickipcollect</string> <!-- 삼성카드-온라인결제 -->
		<string>vguardstart</string> <!-- 삼성카드-백신 -->
		<string>samsungpay</string> <!-- 삼성카드-삼성페이 -->
		<string>scardcertiapp</string> <!-- 삼성카드-공인인증서 -->
		<string>lottesmartpay</string> <!-- 롯데카드-모바일결제 -->
		<string>lotteappcard</string> <!-- 롯데카드-앱카드 -->
		<string>cloudpay</string> <!-- 하나카드-앱카드 -->
		<string>nhappvardansimclick</string> <!-- 농협카드-앱카드 -->
		<string>nonghyupcardansimclick</string> <!-- 농협카드-공인인증서 -->
		<string>citispay</string> <!-- 씨티카드-앱카드 -->
		<string>citicardappkr</string> <!-- 씨티카드-공인인증서 -->
		<string>citimobileapp</string> <!-- 씨티카드-간편결제 -->
		<string>kakaotalk</string> <!-- 카카오톡 -->
		<string>payco</string> <!-- 페이코 -->
		<string>lpayapp</string> <!-- 롯데 L페이 -->
		<string>hanamopmoasign</string> <!-- 하나카드 공인인증앱 -->
		<string>wooripay</string> <!-- 우리페이 -->
		<string>nhallonepayansimclick</string> <!-- NH 올원페이 -->
		<string>hanawalletmembers</string> <!-- 하나카드(하나멤버스 월렛) -->
	</array>
</dict>
</plist>
